:root {
    --ocean-120: #1b54d9;
    --ocean-60: #c1d1f7;
    --ocean-40: #e3ebfc;
    --slate-40: #ced3e0;
    --mint: #19cca3;
    --mint-60: #6ae6c9;
    --mint-40: #b6f2e4;

    --sharedBorderRadius: 6px;

}

body {
    margin: 0;
    height: calc(100vh - 4rem);
    width: calc(100vw - 4rem);
    padding:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--slate-20);
}
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
.App {
    max-width: 520px;
    display: flex;
    flex-direction: column;
}
.totalAmountSpeechBubble{
    border-radius: var(--sharedBorderRadius);
    margin-bottom: 2rem;
    background-color: var(--ocean-40);
    color:var(--ocean-120);
    padding: 0.5rem 1rem;
    position: relative;
}
.totalAmountSpeechBubble::after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem 1rem 0 1rem;
    border-color: var(--ocean-40) transparent transparent transparent;
    content: '';
    top: 100%;
    right: 2rem;
    position: absolute;
}
.card {
    border-radius: var(--sharedBorderRadius);
    box-shadow: 0 0 5px var(--slate-40);  
    background-color: white;
    padding:2rem;
    display:flex;
    flex-direction: column;
    position: relative;
}
.card h1,
.card p {
    margin-top: 1rem;
} 
.card h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.progressBar {
    background-color:var(--mint-40);
    width:100%;
    border-top-left-radius: var(--sharedBorderRadius);
    border-top-right-radius: var(--sharedBorderRadius);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
}
.donationComboElement {
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    position: relative;
    font-size: 1.5rem;

}
.donationComboElement::after {
    content: '$';
    position: absolute;
    color: var(--slate-60);
    top: 0;
    bottom: 0;
    left: 1rem;
    display: flex;
    align-items: center;
}
.donationComboElement input {
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    border-bottom-left-radius: var(--sharedBorderRadius);
    border-top-left-radius: var(--sharedBorderRadius);
    border: 1px solid var(--slate-40);
    font-size: 1em;
    line-height: 0;
    outline:none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2.25rem;
}

  
.donationComboElement button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    border-bottom-right-radius: var(--sharedBorderRadius) ;
    border-top-right-radius: var(--sharedBorderRadius) ;
    z-index: 2;
    position: relative;
    background-color: var(--mint-60);
    border-color: var(--mint);
    color: white;
    left:-1px;
}
.donationComboElement button:disabled {
    cursor: default;
    filter: grayscale(50%) opacity(75%);
}